body {font-family: "Helvetica", sans-serif;
}

header {
    border-style: solid;
  border-color: black;
  text-align: center;
  background-color: #bf8347;
  margin-bottom: 20px;
}

.column-1 {
  border-style: solid;
  border-color: black;
  background-color: #2491f9;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
}

.column-2 {
    border-style: solid;
  border-color: black;
  background-color: red;
   width: 40%;
   display: inline-block;
   vertical-align: top;
   margin-right; 10%;
}

footer {
  top-margin: 20px; 
    border-style: solid;
  border-color: black;
  text-align: center;
  background-color: #8ae32b;
  position: fixed;
  display: block;
  bottom: 0px;
}